<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>css-arrow</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<div class="wapper"  ng-app="myApp" ng-controller="posCtrl">
    <div class="main">
        <div ng-class="{boxLeft:isLeft,boxTop:isTop,boxRight:isRight,boxBottom:isBottom}"></div>
    </div>
    <div class="changevalue">
        <form action="">
            <h3>positon</h3>
            <ul class="changevalue_left" id="leftul">
                <li>
                    <input type="radio" name="position" ng-click="posLeft()">left
                </li>
                <li>
                    <input type="radio" name="position" ng-click="posTop()">top
                </li>
                <li>
                    <input type="radio" name="position" ng-click="posRight()">right
                </li>
                <li>
                    <input type="radio" name="position" ng-click="posBottom()">bottom
                </li>
            </ul>
            <ul class="changevalue_right" id="rightul">
                <li>
                    <label>width</label>
                    <input type="text" name="width"/> px
                </li>
                <li>
                    <label>boder-color</label>
                    <input type="text" name="bdcolor"/>
                </li>
                <li>
                    <label>bgcolor</label>
                    <input type="text" name="bgcolor"/>
                </li>
                <li>
                    <label>boder-size</label>
                    <input type="text" name="bdsize"/> px
                </li>
            </ul>
        </form>
    </div>
</div>
<script src="js/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>